---
layout: 'default'
title: 'More Information'
description: 'About Dorothy Gale, a girl from Kansas.'
bodyClass: 'info'
footer: true
---

  <section class="dorothyInfo">
    <div class="container">
      <img class="dorothyInfo-pic" src="{{site.contextPath}}/assets/images/dorothy2.jpg" alt="" />
      <section class="dorothyInfo-bio">
        <h1 class="dorothyInfo-headline">Some information about me.</h1>
        <p>My name is Dorothy Gale and I'm always trying to find my way home.</p>
        <p>My house was carried in a tornado to a magical land called Oz. While I was there, I killed an evil witch, stole her shoes, and met some unlikely friends.</p>
        <p>We were all in need of something, so we followed the yellow brick road to visit the Wizard. I don't want to spoil the ending, but things turned out okay for me.</p>
        <p>Even though I miss my new friends, I'm glad to be back in Kansas with Aunt Em and Uncle Henry.</p>
        <p class="footnote">And Toto too!</p>
      </section>
    </div>
  </section>
  <section class="quote">
    <blockquote class="quoteText">
      Frightened? Child, you're talking to a man who's laughed in the face of death, sneered at doom, and chuckled at catastrophe... I was petrified.
      <cite class="quoteSource">Wizard of Oz</cite>
    </blockquote>
  </section>
